*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/

#Web
*.tld

#intellij
*.iml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/misc.xml
.idea/modules.xml
.idea/vagrant.xml
.idea/workspace.xml
.idea/gradle.xml
.idea/dataSources.local.xml
